<!-- Contribute Section -->
<section id="contribute">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contribute</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
            We are open to public contributions. If you think there's something missing with the course, let us know! Better yet, fork the repo on Github and share your ideas.
            </div>
        </div>
        <br><br>
        <div class="row">
            <a href="http://github.com/Purdue-CSUSB/CSToolsCourse">
            <div class="col-md-4 col-md-offset-4 text-center">
                <div class="row" style="font-size: 30px">
                View on Github
                </div>
                <div class="row">
                    <i class="fa fa-5x fa-github"></i>
                </div>
            </div>
            </a>
        </div>
    </div>
</section>
