<!-- Students Section -->
<section id="students" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Students</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2 col-md-offset-2">
                <a href="" class="btn btn-xl" style="width:100%">Syllabus</a>
                <p class="text-muted">All the information you need about the course and grading</p>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-xl" style="width:100%">Schedule</a>
                <p class="text-muted">See the topics we will cover and the times we will meet</p>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-xl" style="width:100%">Labs</a>
                <p class="text-muted">Get lab handouts and see the lab schedule</p>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-xl" style="width:100%">TAs</a>
                <p class="text-muted">View the TAs for the course and thier contact emails</p>
            </div>
        </div>
    </div>
</section>
